{% block content %}
<!-- <h1>{{art}}</h1> -->
{% for x in art%}
    {% if x.total_approved != 0 %}
        <h1>ID: {{x.id}}</h1>
        <h1>Artist Name: {{x.stageName}}</h1>
        <h1>Approved Albums: {{x.total_approved}}</h1>
        <h1><a href="{{x.socialLink}}">social Link</a></h1>
        {% for y in art2 %}
            {% if y.artist == x.id %}
                <h2 style="color: rgb(106, 106, 162);"> Album ID: {{y.id}}</h2>
                <h2 style="color: rgb(106, 106, 162);"> Album name: {{y.name}}</h2>
                <h2 style="color: rgb(106, 106, 162);"> Creation Time: {{y.dateTime}}</h2>
                <h2 style="color: rgb(106, 106, 162);"> Album Cost: {{y.cost}}</h2>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock %}